.navbar {
    background: linear-gradient(185.44deg, rgba(81, 105, 245, 0.25) 10.38%, rgba(153, 26, 144, 0.25) 60.24%);
    height: 94px;
    padding: 0px !important;
}
.nav-link {
    font-family: Avenir Next;
    font-size: 16px;
    line-height: 22px;/* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-weight: bold;
    margin-right: 64px;
    &:hover {
        font-family: Avenir Next;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFFFFF;
        transform: skew(-20deg);
        background: #ED5C00;
        font-style: normal;
    }
}
.logo {
    margin-left: 134px;
    margin-top: 40px;
}
.header-page {
    height: 100%;
}
.header-option {
    margin-right: 126px;
    & :nth-child(2) {
        margin-right: 39px;
        margin-left: 32px;
    }
}